@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Love+Light&family=Playwrite+AR:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-texto: #000000;
    --color-texto-oscuro: #922020;
    --color-claro: #e0e0e0;
    --color-icono: #0b037e;
    --color-header: #02023a;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

header {
    position: fixed;
    width: 100%;
    padding-top: 5px;
    z-index: 100;
    background-color: var(--color-header);
    color: var(--color-claro);
}

.wrapped {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

nav ul li:hover {
    background: var(--color-claro);
    color: var(--color-texto);
    font-weight: bold;
    border-radius: 10px;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 16px !important;
    background-color: var(--color-claro) !important;
    color: var(--color-texto) !important;
}

p {
    text-align: justify;
}

ul {
    list-style-type: none;
}

label {
    color: var(--color-texto-oscuro);
}

.borde_div {
    border-color: #0b037e;
    border-top-width: 6px;
    border-top-style: solid;
}

.img_index {
    width: 250px;
    border-radius: 15px;
}

.scale2 {
    transform: scale(1.5);
    z-index: 10;
    filter: grayscale(0%);
    opacity: 1;
    transition: transform 0.5s ease, z-index 0.3s ease;
}

.img_proyecto {
    width: 32%;
    height: auto;
    margin-left: 10px;
    border: 2px var(--color-texto) solid;
    opacity: 0.6;
    filter: grayscale(100%);
    transition: transform 0.5s ease, z-index 0.3s ease;
    position: relative;
}

.img_proyecto:hover {
    filter: grayscale(0%);
    opacity: 1;
    transform: scale(1.5);
    z-index: 10;
}

.nombre {
    text-align: center;
}

nav {
    float: left;
}

nav ul {
    list-style: none;
    overflow: hidden;
}

nav ul li {
    float: left;
    font-size: 16px;
}

nav ul li a {
    display: block;
    padding: 10px !important;
    text-decoration: none;
}

.panel_izquierdo {
    position: fixed;
    top: 70px;
    left: 5px;
}

.panel_derecho {
    margin-left: 25% !important;
}

.ico {
    color: var(--color-icono);
}

.link_rrss {
    text-decoration: none;
    color: var(--color-texto);
}

.form-control {
    border: 1px solid gray !important;
}

.mensaje {
    height: 200px !important;
}

.content {
    flex: 1;
    padding-top: 60px;
}

footer {
    text-align: center;
    padding: 15px 0px;
    font-weight: bold;
    background-color: var(--color-header);
    color: var(--color-claro);
}

/* Responsividad para dispositivos móviles */
@media (max-width: 767px) {

    .panel_izquierdo {
        display: block; /* Asegura que el panel izquierdo se muestre */
        width: 100% !important;
        position: relative; /* Permite que el panel se coloque sobre el panel derecho */
        top: 0 !important;
        padding-bottom: 20px;
    }

    .panel_derecho {
        width: 100% !important;
        margin: 0 !important;
        padding: 10px;
        box-sizing: border-box;
    }

    .img_index {
        width: 100%;
        height: auto;
        max-width: 200px; /* Limita el ancho máximo para evitar que se agrande demasiado */
        margin: auto;
    }

    .form-container {
        width: 90%;
        margin: 0 auto;
    }

    .img_proyecto {
        width: 100%;
        margin-left: 0;
    }
}

/* Responsividad para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .panel_izquierdo {
        display: block; /* Asegura que el panel izquierdo se muestre */
        width: 100% !important;
        top: 0 !important;
        position: relative; /* Permite que el panel se coloque sobre el panel derecho */
        padding-bottom: 20px;
        box-sizing: border-box;
    }

    .panel_derecho {
        width: 100% !important;
        margin: 0 !important;
        padding: 10px;
        box-sizing: border-box;
    }

    .img_index {
        width: 50%; 
        height: auto;
        max-width: 300px; /* Limita el ancho máximo para evitar que se agrande demasiado */
        margin: auto;
    }

    .form-container {
        width: 80%;
        margin: 0 auto;
    }

    .img_proyecto {
        width: 50%;
        margin-left: 30%;
    }
}
